@page
@model Sellasist_Optima.Pages.SellAsist.AtrybutyModel
@{
}

<h2>Atrybuty</h2>

<ul>
    @foreach (var status in Model.AtrybutyGrupa)
    {
        <li>@status.Name</li>
    }
</ul>

<ul>
    @foreach (var status in Model.Atrybuty)
    {
        <li>@status.Name</li>
    }
</ul>