@page
@model Sellasist_Optima.Pages.SellAsistAPIModel

<h2>Connect to Sellasist API</h2>

<form method="post">
    <div>
        <label>Name Shop:</label>
        <input type="text" asp-for="SellAsistAPI.API" required />
    </div>
    <div>
        <label>API Key:</label>
        <input type="text" asp-for="SellAsistAPI.KeyAPI" required />
    </div>
    <input type="submit" value="Connect" asp-page-handler="Connect" />
    <p>@ViewData["Result"]</p>
</form>
<h3>Stored API Connections:</h3>
<table>
    <tr>
        <th>Name Shop</th>
        <th>API Key</th>
    </tr>
    @foreach (var item in Model.AllSellAsistAPI)
    {
        <tr>
            <td>@item.API</td>
            <td>@item.KeyAPI</td>
        </tr>
    }
</table>
