@page
@model Sellasist_Optima.Pages.StatusModel
@* @model Sellasist_Optima.Pages.SellAsist.AtrybutyModel *@

@* @model Sellasist_Optima.Pages.SellAsist.Połączenie *@

<h2>Statusy</h2>


@* <ul>
    @foreach (var status in Model.Status)
    {
        <li>@status.Name</li>
    }
</ul> *@

@if (Model.Status != null && Model.Status.Any())
{
    <ul>
        @foreach (var status in Model.Status)
        {
            <li>@status.Name</li>
        }
    </ul>
}
else
{
    <p>Brak statusów do wyświetlenia.</p>
}

