@page
@model Sellasist_Optima.Pages.StatusModel

<h2>Statusy</h2>

@if (Model.Status != null && Model.Status.Any())
{
    <ul>
        @foreach (var status in Model.Status)
        {
            <li>@status.Name</li>
        }
    </ul>
}
else
{
    <p>Brak statusów do wyświetlenia.</p>
}