@page
@model Sellasist_Optima.Pages.ConnectToWebAPIModel

<h2>Web API Connection</h2>

<form method="post">
    <div class="form-group">
        <label for="Login">Login:</label>
        <input type="text" class="form-control" id="Login" name="Login" asp-for="Login" />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" />
    </div>
    <div class="form-group">
        <label for="ServerName">Key Api:</label>
        <input type="text" class="form-control" id="ServerName" name="ServerName" asp-for="KeyApi" />
    </div>
    <button type="submit" class="btn btn-primary">Connect</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info mt-3">
        @Model.Message
    </div>
}
