@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="tło" @* class="text-center" *@>
    <h1 class="display-4">Witamy w internetowym sychronizatorze SellAsist - ERP Comarch Optima</h1>
</div>
