@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<<<<<<< HEAD
<div class="text-center">
    <h1 class="display-4">Welcome w integratorze SellAsist - Optima</h1>
    
=======
<div class="tło" @* class="text-center" *@>
    <h1 class="display-4">Witamy w internetowym sychronizatorze SellAsist - ERP Comarch Optima</h1>
>>>>>>> 13e630743216aa0d0d9d00f24e427d87a3cef58b
</div>
